body{
    margin: 0;
    padding: 0;
    }

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    width: 20%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #447;
    color: white;
}

.summ {
    display: inline-block;
    background-color: #447;
    text-align: center;
}

.summ_text {
    font-size: 150%;
    display: inline-block;
    width: 59%;
    text-align: left;
    color: #fff;
    margin: 20px;
}

.bio {
    display: inline-block;
    background-color: #447;
    text-align: center;
}

.bio_text {
    font-size: 150%;
    display: inline-block;
    width: 72%;
    text-align: left;
    color: #fff;
    margin: 20px;
}

.bio_pic_container {
    display: inline-block;
    width: 25%
}

.bio_pic {
    display: inline-block;
    border-radius: 50%;
    width: 35%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.activities {
    background-color: #558;
    text-align: center;
}

.act_text {
    font-size: 125%;
    display: inline-block;
    width: 72%;
    text-align: left;
    color: #fff;
    margin: 20px auto;
}

.logo {
    display: inline-block;
    width: 35%;
    }

.tile-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #558;
    padding: 20px;
}

.tile {
    flex:1 0 350px;
    align-self:stretch;
    max-width: 90%;
    min-height: 10rem;
    max-height: 210px;
    margin: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background: white;
    position: relative;
}

.tile img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.tile:after, .tile:before {
    position: absolute;
    opacity: 0;
    transition: 0.5 ease;
    -webkit-transition: all 0.5s;
    border-radius: 10px;
}

.tile:after {
    content:'\A';
    width:100%; height:100%;
    top:0;
    left:0;
    background: rgba(20,20,20,0.75);
}

.tile:before {
    white-space: pre-wrap;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1;
    padding: 4px 10px;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    word-wrap: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tile:hover:after, .tile:hover:before {
    opacity: 1;
}

.contact {
    background-color: #77A;
    text-align: center;
    min-height: 10em;
    margin: 0;
    padding: 1px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    display: inline-block;
    width: 62%;
    background-color: #f2f2f2;
    padding: 20px;
}